body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    margin: 3%;
}

fieldset{
    background-color: rgb(255, 255, 255);
    margin: 4%;
}
h2{
    text-align: center;

    margin: 2%;
}

img{
    width: 500px;
    margin: 3%;
}

p{
    margin: 3%;
    color: rgb(0, 4, 248);
}

h2{
    color: rgb(0, 4, 248);
}