p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  margin: 2%;
}

body{
    background-color: black;
}

fieldset{
    background-color: grey;
    margin: 1%;
}
 
h1{
    margin: 2%;
}

.epigrafe{
    color: white;
}

footer{
    color: white;
}

img{
    margin-top: 2%;
}