.card-img-top{
    width: 200px;
    text-align: center;
}

.karate{
    width: 500px;
    text-align: center;
}


.footer{
    text-align: left;
}

body{
    color: rgb(53, 53, 53);
}